* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: rgb(74, 13, 216);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-wrap {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.searchbox {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
  font-size: 16px;
  text-align: center;
}

.city {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

.date {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.temp {
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hi-low {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
